html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    height: 64px;
    width: 100%;

    background-color: #f6f8fa;

    display: flex;
    justify-content: start;
    align-items: center;
}

    header > p {
        margin-left: 32px;
    }

.main {
    height: calc(100% - 64px - 44px);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: start;
}

    .deposits {
        height: auto;
        width: auto;
        border: 0px solid black;
        border-collapse: collapse;
    }

        .deposits th {
            height: 24px;
            
            margin: 0;
            padding: 0;

            border: 1px solid black;
        }

        .deposits td {
            height: 24px;
            border: 1px solid black;
            padding: 0 0px 0 0px;
        }

            .deposits input {
                margin: 0;
                padding: 0;

                border: none;

                vertical-align: middle;
                text-align: end;
            }
                .deposits input.nameDeposit {
                    height: 100%;
                    width: 180px;
                    margin: 0;
                    padding: 0 2px 0 2px;
                }

                .deposits input.currency {
                    height: 100%;
                    width: 188px;

                    padding-right: 2px;
                }

                .deposits input.rate {
                    height: 100%;
                    width: 70px;
                    padding-right: 2px;
                }

            .deposits .selectWrapper {
                position: relative;

                height: 100%;

                padding: 0 4px 0 0;
                
                display: flex;
                justify-content: center;
                align-items: baseline;
                flex-wrap: nowrap;
            }

            .deposits .selectWrapper:hover {
                background-color: rgb(233, 233, 237);
            }

            .deposits .selectWrapper:hover select {
                background-color: rgb(233, 233, 237);
            }

            .deposits .selectWrapper::after {
                margin: 0;
                padding: 0 0 0 4px;
                
                font-size: 10px;
                
                white-space: nowrap;

                content: "\25BC";
            }

                .deposits select {
                    height: 100%;

                    margin: 0;
                    padding: 0 0 0 4px;

                    appearance: none;

                    background-color: white;

                    border: none;
                    border-radius: 0;

                }
                    .deposits select:focus,
                    .deposits select:hover {
                        
                        background-color: inherit;

                        outline: 0;
                    }

                    .deposits select option {

                        
                    }
            
            .deposits .tdFlexContainer {
                height: 100%;
                width: 100%;
                margin: 0;
                /* padding: 4px; */

                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

                .deposits .tdFlexContainer input.term {
                    height: 100%;
                    width: 50px;

                    margin: 0 4px 0 0;
                }

                


            /* input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            input[type=number] {
                -moz-appearance: textfield;
            } */

                .deposits input:disabled {
                    color: black;
                }



footer {
    height: 44px;
    width: 100%;

    background-color: #f6f8fa;
}